@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this to your global CSS file */
.bg-gold-500 {
    background-color: #DAA520;
  }
  .bg-gold-600 {
    background-color: #B8860B;
  }
  .text-gold-500 {
    color: #DAA520;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animate-fade-in {
    animation: fadeIn 0.5s ease-in-out;
  }
  
  